@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start: #baf2f6; /* Lighter start color for the gradient */
  --background-end: #705aea;   /* Lighter end color for the gradient */
  --foreground: #171717;       /* Foreground color remains the same for good contrast */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start: #434343; /* Dark gradient start for dark mode */
    --background-end: #636363;   /* Dark gradient end for dark mode */
    --foreground: #ededed;       /* Lighter text for dark mode */
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(to right, var(--background-start), var(--background-end));
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Example font */
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}
